<footer>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l3">
                <h3>Informationer</h3>
                <ul>
                    <li><a href="/informationer/#regler">Regler</a></li>
                    <li><a href="/informationer/#huskeliste">Huskeliste</a></li>
                    <li><a href="/informationer/#faciliteter">Faciliteter</a></li>
                    <li><a href="/faq/">FAQ</a></li>
                </ul>
            </div>
            <div class="col s12 m6 l3">
                <h3>Om SCK</h3>
                <ul>
                    <li><a href="/om-skjern-computer-klub/#omos">Om Skjern Computer Klub</a></li>
                    <li><a href="/om-skjern-computer-klub/#bestyrelsen">Bestyrelsen</a></li>
                    <li><a href="/om-skjern-computer-klub/#vedtaegter">Vedtægter</a></li>
                </ul>
            </div>
            <div class="col s12 m6 l3">
                <h3>Tilmelding</h3>
                <ul>
                    <li><a href="/tilmelding/#pris">Pris</a></li>
                    <li><a href="/tilmelding/#tilmelding">Tilmelding</a></li>
                    <li><a href="/tilmelding/#lokation">Lokation</a></li>
                    <li><a href="/sommerlan">Sommerlan</a></li>
                </ul>
            </div>
            <div class="col s12 m6 l3">
                <h3>Social links</h3>
                <ul>
                    <li class="socialIcons">
                        <a href="https://facebook.com/skjerncomputerklub" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://discord.gg/hxen8Y5" target="_blank"><i class="fab fa-discord"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="copyright">
                <hr>
                <div class="col s12 m6 l6">
                   © {{ site.title }}
                </div>
                <div class="col s12 m6 l6">
                    <a class="right" href="http://mopra.dk" target="_blank">Designet af Morten Pradsgaard</a>
                </div>
            </div>
        </div>
    </div>
</footer>
