<header class="site-header">
    <nav class="white">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="brand-logo col s4"><img src="../assets/img/logo.png" class="skjern computer klub"></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                  <li><a class="page-link" href="/informationer">Informationer</a></li>
                  <li><a class="page-link" href="/kontakt">Kontakt</a></li>
                  <li><a class="page-link" href="/om-skjern-computer-klub">Om SCK</a></li>
                  <li><a class="page-link" href="/tilmelding">Tilmelding</a></li>
                  <li><a class="page-link" href="/sommerlan">Sommerlan</a></li>
                </ul>
            </div>
            <ul class="side-nav" id="mobile-demo">
              <li><a class="page-link" href="/informationer">Informationer</a></li>
              <li><a class="page-link" href="/kontakt">Kontakt</a></li>
              <li><a class="page-link" href="/om-skjern-computer-klub">Om SCK</a></li>
              <li><a class="page-link" href="/tilmelding">Tilmelding</a></li>
              <li><a class="page-link" href="/sommerlan">Sommerlan</a></li>
            </ul>
        </div>
    </nav>

<div class="container-full">

    <div class="row">
      <h1>Skjern Computer Klub</h1>
      </div>
        <div class="sommerlanHeadVid video-container">
          <video class="responsive-video" autoplay loop muted>
            <source src="/uploads/Film.mp4" type="video/mp4">
          </video>
        </div>
    </div>

    <!--<div class="vid-overlay">
    </div>-->






</header>
