<header class="site-header">
    <nav class="white">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="brand-logo col s4"><img src="../assets/img/logo.png" class="skjern computer klub"></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fas fa-bars"></i></a>
             
            </div>
       
        </div>
    </nav>

<div class="container-full">

    <div class="row">
      <h1>Skjern Computer Klub</h1>
      </div>
        <div class="sommerlanHeadVid video-container">
          <video class="responsive-video" autoplay loop muted>
            <source src="/uploads/Film.mp4" type="video/mp4">
          </video>
        </div>
    </div>

    <!--<div class="vid-overlay">
    </div>-->






</header>
